@charset "utf-8"


@import compass

@import _normalize
@import _mixin
@import _variable
@import _grid


/* Common Style */
*
  box-sizing: border-box


// body
body
  font-family: $fontFamily
  background-color: $bgColor
  color: $fontColor-base
  line-height: 1.8

  // selection
    ::selection
      background: $selectionColor
      color: #fff


// Link
a
  color: $fontColor-link
  cursor: pointer
  text-decoration: none

  &, img
    @extend %animation

  &:hover
    color: $fontColor-hover

    img
      opacity: 0.7


// Heading
h1, h2, h3, h4, h5, h6
  line-height: 1.4

  a
    color: $fontColor-base


// hr
hr
  border: none
  height: 1px
  background-color: $borderColor


/* End Common Style */


// Module
@import _module


// Media Queries
@import _media-queries